@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar{
  display: none !important;
}

li,
a {
  cursor: pointer;
}

input:disabled{
  cursor : not-allowed;
}

.menu {
  height: 0px;
  transition: all 0.7s ease;
}

.menu:hover {
  height: 200px;
}

.menuHover:hover {
  .menu {
    height: 200px;
  }
}

.bannerImg{
  width: 100%;
  height: 22rem;
}

.bannerImg img{
  width: 100%;
  height: 100%;
}

.subHeadingCont{
  box-shadow: 0px 10px 5px orange !important ;
  background-color: red !important;
}

.swiper-button-next:after, .swiper-button-prev:after{
  background-color: white;
  font-size: 28px !important;
  text-align: center;
  padding: 32px 18px;
  font-weight: bold !important;
}

.swiper-button-next:after{
  border-radius: 6px 0px 0px 6px;
}

.swiper-button-prev:after{
  border-radius: 0px 6px 6px 0px;
}

.categoryWall{
  background-image: url('https://images.pexels.com/photos/3356416/pexels-photo-3356416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
}


.thumb{
  object-fit: cover;
  height: 7rem !important;
  width: 7rem !important;
}

.thumbs-wrapper{
  margin: 20px 0 !important;

}


.heart {
  width: 80px;
  height: 80px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
